/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Apr 2020, 22:42:44
    Author     : ABDULRAHMAN ILLO
*/
/*.dialog{
    -fx-background-color: #FFF;
}
.dialog > *.button{
    -fx-border-radius: 0px;
    -fx-background-color: #C8E1FF;
    -fx-text-fill: #FFF;
}
.dialog > *.button:hover{
    -fx-border-radius: 0px;
    -fx-text-fill: #FFF;
    -fx-background-color: #579FCF;
}
.dialog > *.combo-box> *.list-cell, .dialog > *.combo-box{
    -fx-background-color: #C8E1FF;
    -fx-text-fill: #2c6d98;
}
.dialog > *.combo-box >*.list-cell:hover, .dialog > *.combo-box:hover{
    -fx-background-color: #C8E1FF;
    -fx-text-fill: #2c6d98;
}
.dialog > label{
    -fx-text-fill:#2c6d98;
}*/
.dialog > *.button-bar > *.container{
    -fx-background-color: #C8E1FF;
}
.dialog > *.label.content{
    -fx-text-fill:#2c6d98;
}
.dialog:header *.header-panel{
    -fx-background-color: #C8E1FF;
}
.dialog:header *.header-panel *.label{
    -fx-fill: #2c6d98;
}